@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

.item-menu {
  font-size: .8rem;
  font-weight: bold;
}



.title-customize-separated {
  letter-spacing: 1px;
  word-spacing: -1px;
}

.title-customize-together {
  letter-spacing: -2px;
  word-spacing: -1px;
}

.montserrat-customize {
  font-family: 'Montserrat', sans-serif;
}


.noto-sans-customize {
  font-family: 'Noto Sans JP', sans-serif;
}

.poppins-customize {
  font-family: 'Poppins', sans-serif;
}

.margin-extra {
  margin: 8rem 0 8rem 0;
}

.margin-extra-top {
  margin: 8rem 0 0 0;
}

.margin-extra-extra {
  margin: 12rem 0 12rem 0;
}
